*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

.menu{
    padding: 2%;
    display: flex;
    background-color: bisque;
    grid-template-rows: repeat(2, auto);
    flex-wrap: wrap;
}

.top-bar-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-left-side{
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}

.menu-globo__img{
    object-fit: contain;
    width: 170px;
}

.menu-right-side{
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}

.items-menu-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
