*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;/*
    font-family: 'Globotipo Condensada', sans-serif;
    font-family: 'Globotipo Rounded', sans-serif;
    font-family: 'Globotipo Texto', sans-serif;*/
}

html {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

/*****header estilization*****/
.menu{
    position: fixed;
    background-color: white;
    padding: 0 3%;
    display: flex;
    flex-wrap: wrap;
    height: 7.8rem;
    transition: transform 1s;
}

.menu--hidden {
    transform: translateY(-8rem);
}

.top-bar-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-family: 'Globotipo Condensada', sans-serif;
    padding-bottom: 10px;
    padding-top: 18px;
    border-bottom: 1px solid #EBEDEF
}

.menu-left-side{
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}

.menu-bt {
    margin-right: 25px;
    cursor: pointer;
}

.menu-button__img {
    position: relative;
    top: 3px;
    pointer-events: none;
}

.menu-bt a{
    margin-left: 10px;
    pointer-events: none;
}

.subscribe-bt {
    padding: 15px; 
    border-left: 1px solid #EBEDEF;
}

.menu-globo__img{
    object-fit: contain;
    width: 182px;
    position: relative;
    left: 30px;
}

.menu-right-side{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

}

.login {
    position: relative;
    top: 3px;
    padding-bottom: 15px;
}

.login-bt{
    position: relative;
    top: 10px;
    margin-left: 7px;
    margin-right: 7px;
}

.search{
    padding-left: 22px;
    border-left: 1px solid #EBEDEF;
    padding-bottom: 15px;
   
}

.search a{
    position: relative;
    top: 3px;
 }

.search-bt {
    position: relative;
    top: 15px;
    left: 12px;
}

.items-menu-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Second row of header*/
.items-menu-header {border-bottom: 1px solid #EBEDEF;}

.items-menu-header a{
    padding: 10px 15px;
    font-family: 'Globotipo Rounded', sans-serif;
    font-weight: 600;
}

.items-menu-header a:nth-child(1) {color: #C4170C;}
.items-menu-header a:hover:nth-child(1) {color: #F03018;}

.items-menu-header a:nth-child(2) {color: #1E4C9A;}
.items-menu-header a:hover:nth-child(2) {color: #4B70AE;}
 
.items-menu-header a:nth-child(3) {color: #006767;}
.items-menu-header a:hover:nth-child(3) {color: #4B9393;}

.items-menu-header a:nth-child(4) {color: #06AA48;}
.items-menu-header a:hover:nth-child(4) {color: #1FB25A;}

.items-menu-header a:nth-child(5) {color: #FF7400;}
.items-menu-header a:hover:nth-child(5) {color: #FF9033;}

.items-menu-header a:nth-child(6) {color: #FB0234;}
.items-menu-header a:hover:nth-child(6) {color: #FD6F8C;}

.items-menu-header a:nth-child(7) {color: #FF6700;}
.items-menu-header a:hover:nth-child(7) {color: #FF8533;}

.items-menu-header a:nth-child(8) {color: #333333;}
.items-menu-header a:hover:nth-child(8) {color: #686868;}

.items-menu-header a:nth-child(9) {color: #A5147D;}
.items-menu-header a:hover:nth-child(9) {color: #BF59A3;}

.items-menu-header a:nth-child(10) {color: #00C4A2;}
.items-menu-header a:hover:nth-child(10) {color: #A0E7DB;}
 
/*Side Menu implementation*/
.side-menu{
    display: flex;
    position: fixed;
    background-color: white;
    top: 0;
    left: -275px;
    width: 275px;
    bottom: 0;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 2;
    transition: transform 1s;
}
.side-menu-login{
    display: flex;
    padding-bottom: 32px;
    border-bottom: 1px solid #EBEDEF;

}

.side-menu-login svg{
    cursor: pointer;
}

.side-menu-login a{
    display: block;
    padding-left: 20px;
    font-family: 'Globotipo Condensada', sans-serif;
    line-height: 90%;
    cursor: pointer;
}
.side-login-link a:nth-child(1){font-weight: 600;}
.side-login-link a:nth-child(2){color: #686868;}

.side-menu-products{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #EBEDEF;
    margin-bottom: 30px;
}

.side-menu-products a{
    font-family: 'Globotipo Rounded', sans-serif;
    font-weight: 600;
    font-size: 19px;
    color: #333333;
    padding-left: 10px;
}

.side-menu-products img{
    object-fit: none;
    object-position: left top;
    width: 32px;
    height: 32px;
    position: relative;
    top: 10px
}

.side-menu-items {
    padding-bottom: 20px;
    border-bottom: 1px solid #EBEDEF;
}

.side-menu-items a{
    display: block;
    color: #333333;
    font-family: 'Globotipo Rounded', sans-serif;
    font-weight: 600;
    white-space: nowrap;
    font-size: 18px;
    line-height: 240%;
}

.side-menu-footer {
    padding-top: 30px;
    padding-bottom: 70px;
    display: flex;
    white-space: nowrap;
    font-family: 'Globotipo Condensada', sans-serif;
}
.side-menu-footer a:nth-child(2){
    font-size: 15px;
    font-weight: 600;
    padding-left: 5px;
    color: #9DA3AE;
}
.side-menu-footer a:nth-child(3){
    font-size: 12px;
    font-weight: 400;
    padding-left: 5px;
    position: relative;
    top: 3px;
    color: #9DA3AE;
}

.side-menu--open {
    transform: translateX(275px);
}



/**** Highlight section ****/
.highlight{
    padding: 0 3%;
    padding-top: 8rem;
    display: flex;
    flex-wrap: wrap;
}

.highlight img:hover {
    filter: brightness(70%);
    transition: filter 0.5s;
}

.top-highlights{
    margin-top: 30px;
    border-bottom: 1px solid #EBEDEF;
    padding-bottom: 10px;
}

.top-highlights h1{
    color: #C4170C;
    font-size: 52px;
    font-weight: 600;
    font-family: 'Globotipo Rounded', sans-serif;
    margin-bottom: 20px;
}
.top-highlights h1:hover {
    color: #F03018;
    transition: color 1s;
}

.top-highlights h2{
    color: #333333;
    border-left: 4px;
    font-family: 'Globotipo Texto', sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.top-highlights h2::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-radius: 40%;
    background-color: #C4170C;
    margin-right: 8px;
}

/* highlight board */
.highlight-board {
    max-width: 100%;
    padding-top: 25px;
    display: grid;
    grid-template-rows: repeat(2,1fr) ;
    grid-template-columns: 1fr 1.2fr 1fr; 
    row-gap: 80px;
}

.highlight-board::before {
    content: "";
    border-bottom: 1px solid #EBEDEF;
    width: 94.3%;
    position: absolute;
    align-self: center;
}

.highlight-post {
    width: 315px;

}

.middle__post {
    padding-left: 8%;
}


.contain-post__img {
    overflow: hidden;
    height: 105px;
    width: 315px;
}

.contain-post__img img{
    object-position: center center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.highlight-post h2{
    color: #C4170C;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Globotipo Rounded', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.highlight-post h2:hover {
    color: #F03018;
    transition: color 1s;
}

.highlight-post h3{
    color: #333333;
    border-left: 4px;
    font-family: 'Globotipo Texto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.highlight-post h3::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #C4170C;
    margin-right: 8px;
}

/*highlight columns*/
.highlight-column {
    margin-top: 40px;
    border-top: 1px solid #EBEDEF;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
}

.highlight-column h2{
    font-family: 'Globotipo Rounded', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-top: 15px;
}

.highlight-column h3 {
    font-family: 'Globotipo Texto', sans-serif;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
}

.highlight-column h3::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #C4170C;
    margin-right: 8px;
}

.highlight-column::before {
    content: "";
    border-left: 1px solid #EBEDEF;
    height: 155%;
    position: absolute;
    left: calc(50% - 1px);
    align-self: center;
}

.contain-column-img {
    overflow: hidden;
    height: 135px;
    width: 470px;
    margin-top: 40px;
}

.contain-column-img img{
    object-position: center center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.sports-column h2{
    color: #06AA48;
    padding-right: 35px;
}
.sports-column h2:hover{
    color: #1FB25A;
    transition: color 1s;
}
.sports-column h3::before {
    background-color: #06AA48;
}

.bbb-column {
    padding-left: 35px;
}

.bbb-column h2{
    color: #FF6700;
}